.sidebar{
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    flex: 0.35;  /*making it take the the neccessary space*/
}
.sidebar__header{
    padding: 20px;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    border-right: 1px solid lightgray;
}
.sidebar__headerRight{
    min-width: 10vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: space-between;
}
.sidebar__headerRight > .MuiSvgIcon-root{  /*targeting the svg icon inside headerright*/
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar__search{
    height: 39px;
    padding: 10px;
    background-color: #f6f6f6;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
}
.sidebar__searchContainer{
    width: 100%; height: 35px;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    background-color: white;
    border-radius: 20px;
}
.sidebar__searchContainer > input{ /*targeting the input tag inside container*/
    margin-left: 10px;
    border: none;
}
.sidebar__searchContainer > input:focus {
    border: none;
    outline: none;
}
.sidebar__searchContainer > .MuiSvgIcon-root{  /*targeting the svg icon inside container*/
    color: gray;  
    padding: 10px;
}
.sidebar__chats{
    flex: 1; /*as flex direction was currently column it will take entire space in .sidebarchats*/
    background-color: white;
    overflow: scroll;
}
.logout{
    cursor: pointer;
    background-color: white;
    color: black;
    width: 5vw;
    height: 3.2vh;
    min-width: 50px;
    position: absolute;
    font-weight: bold;
    font-size:small;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.sidebar__headerRight > .vertbutton:hover > .logout{
    display: block;
}

@media(max-width:655px) {
    .sidebar{ flex: 1; }
}