.sidebarChat{
    padding: 20px;
    cursor: pointer;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flexbox; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    background-color: #ebebeb;
}
.sidebarChat__info{
    margin-left: 15px;
}
.sidebarChat__info > h2{  /*targeting the h2 inside sidebarchat info*/
    margin-bottom: 8px;
    font-size: 16px;
}
.addNewChat{
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}